---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-lg mx-auto">
    <h1 class="text-4xl font-black">About</h1>

    <p class="py-4">
      This is a simple camo tracker for Black Ops 6 zombies. It's a work in
      progress and I'm adding new features as I go.
    </p>

    <p class="py-4">
      See something that isn't correct or have an issue? Feel free to open an
      issue on <a
        class="text-blue-400 hover:underline"
        href="https://github.com/NeoIsRecursive/bo6-camo-tracker/issues"
        >github</a
      >.
    </p>
  </div>
</Layout>
