<nav
  class="bg-neutral-900 border-neutral-700 text-white border-b p-4 flex justify-between"
>
  <p class="text-lg font-bold">BO6 Camo tracker</p>
  <ul class="flex gap-4">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
